/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

@font-face {
    font-family: myCalligraphy;
    src: url("CalligraphyFLF.ttf")
}


body {
    margin: 0;
    text-align: center;
    background: linear-gradient(#B9E0FF, #8D9EFF, #AFB4FF);
    font-family: 'Montserrat', sans-serif;
}


h1, h2 {
    color: #F7ECDE;
    text-shadow: 0px 5px 5px #2b2839;
}


h1 {
    font-family: myCalligraphy;
    font-size: 70px;   
} 


h2 {
   font-size: 30px;
}


h3 {
    margin-left: 100px;
    margin-right: 100px;
    
    
}
.header {
    width: 100%;
    background-image: url("images/rainbow-bridge-2086643_640.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: high-quality;
    overflow: hidden;
    height: 343px;
    padding-top: 120px;   
}

.container {
    width: 100%;
    background-color: #B9E0FF;
    display: flex;  
    padding: 5px auto;
    margin: 5px 0 10px 0;
}
    

img {
    width: 105.05px;
    height: 101.98px;
    left: 85.47px;
    top: 108px;
    margin: 34px;
    padding: 10px;
    font-size: 50px;
    border-radius: 50%;   
}


.activities-header{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}


.activities {
    flex: 1 1 0;
    padding: 0 10px
}


.business-card {
    width: 600px;
    height: 400px;
    left: 126px;
    top: 50px;
    margin: 0 auto;
    display: flex;
    flex: 1 1 0;
    padding: 0 10px;
    background: #ddebf8;
    color: #2b2839;
    background-color: #81C6E8;
    border-top: 6px solid #6C4AB6;
    border-bottom: 6px solid #6C4AB6;
}

.card-img {
    width: 100%;
    height: 300px;
    padding: 23px, 0, 23px, 0;
    border: 5px solid #6C4AB6;
}

.business-card p {
    width: 900px;
    height: 100px;
    padding: 50px;
}

.my-name {
    font-family: myCalligraphy;
    font-size: 40px;
}

/*width: 400px;
height: 294px;
left: 126px;
top: 50px;